.inputdiv{
    position: relative;
}

.icons{
    position: absolute;
    height: 100%;
    z-index: 3;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
  	align-items: center;
    width:fit-content ;
    background-color: rgb(45,47,48);
    border-radius: 0 26px 26px 0;
    padding: 0 1vh;
}

.icons .search{
    background-color: rgb(248, 230, 35);
    border-radius: 50%;
    padding: 6px 7px 6px 7px;    
}

.icons>div{
    display: inline-block;
    padding: 2vh;
}

.icons>div:first-child{
    /* border-right:1.5px solid ; */
    cursor: pointer;
}
.icons>div:first-child>*{
    font-size: 21px;
}

.search-input,.Notselected{
    width: 400px;
    padding: 14px 24px;
    border-radius: 25px;
    border: 0;
    outline: 0;
    font-size: 16px;
    background: #2d2f30;
    color: #f2f2f2;
    transition: all .20s;
    display: flex;
    justify-content: space-between;
  	align-items: center;
}

.Notselected:hover{
    background-color: rgb(248, 230, 35);
    cursor: pointer;
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.selected{
    display: flex;
    justify-content: space-between;
  	align-items: center;
    background: rgb(248, 230, 35);
    font-weight: bold;
    width: 400px;
    padding: 12.5px 24px;
    border-radius: 25px;
    border: 0;
    outline: 0;
    font-size: 17px;
    transition: all .20s;
}

.search-inputbottomradius{
    width: 400px;
    padding: 13px 24px;
    border-radius: 25px 25px 0px 0px;
    border: 0;
    outline: 0;
    font-size: 16px;
    background: #2d2f30;
    color: #f2f2f2;
    transition: all .20s;
}

.container{
    border-radius: 0px 0px 25px 25px;
    position: fixed;
    background: #2d2f30;
    border-top: 1.5px solid black ;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    width: 200px;
}

@media only screen and (max-width: 650px){
    .inputdiv input {
        width: 100%;
    }
    .icons{
        width: 0;
    }
    .icons >div:last-child{
        /* position: relative; */
        right: -1vh;
    }
    .container,.Notselected,.selected,.search-inputbottomradius{
        width: 77.5%;
    }
    .selected{
        width: 83%;
    }
    .icons{
       padding: 0;
    }
    
}